$c1: #e2ebfc;
$c1-100: #f5f9fe;
$c1-500: #2a73dd;
$c1-700: #1d365e;
$c1-800: red;
$c1-200: #656774;
$c1-300: #c9d8f4;

$c2: #ffffff;
$c2-500 : #423a3a;

$text-xs: 0.75rem;
$text-base: 1rem;
$text-sm: 1.25rem;
$text-md: 1.5rem;
$text-lg: 2rem;
$text-xl: 3rem;
$text-2xl: 4rem;

$text-light: 300;
$text-regular: 400;
$text-semiBold: 600;
$text-bold: 700;